<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required only if your app needs to access audio files that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_library_music_24"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".activities.GroupedSongsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.VibesLocal"
            android:exported="false" />
        <activity
            android:name=".activities.PlaybackDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.VibesLocal" />
        <activity
            android:name=".activities.MainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MediaPlayerService" />
    </application>

</manifest>